html,
body,
#root,
#main {
  min-height: 100vh;
  height: max-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
}

p,
h5 {
  margin: 0;
}

div {
  border: 1px solid black !important;
}

#main {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.project-body {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: 25px;
}

.todo-body {
  margin: 25px;
  gap: 30px;
  height: auto;
  display: flex;
}

.project-sidebar {
  display: grid;
  grid-template-rows: 90px 200px;
}

.project-user {
  display: grid;
  padding-top: 15px;
  grid-template-columns: 80px 1fr;
}

.user-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-size: 45px;
}

.user-greet {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.task-category {
  height: fit-content;
  border-radius: 25px;
  min-width: 350px;
  display: grid;
  grid-template-rows: 50px 1fr 70px;
}

.category-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-cards {
  display: flex;
  flex-direction: column;
}

.todo-card {
  height: 125px;
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
}

.category-add {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.category-add input {
  padding: 5px;
  width: 300px;
  border-radius: 8px;
}

.todo-container {
  display: grid;
  border-radius: 15px;
  grid-template-columns: 50px 1fr;
}

.todo-checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 100px;
}

.todo-top {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
}

.todo-checkmark div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.project-view {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 15px;
  gap: 20px;
}

.views {
  padding: 5px 0 5px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}

.views-today .views-svg {
  font-size: 25px;
}

.views-week .views-svg {
  margin-left: 3px;
  font-size: 20px;
}

.views-all .views-svg {
  margin-left: 3px;
  font-size: 20px;
}

.project-list-container {
  padding-left: 15px;
}

.project-add {
  font-size: x-large;
}

.project-list-options {
  padding: 5px 15px 5px 15px;
  display: flex;
  font-size: large;
  align-items: center;
  justify-content: space-between;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-selection {
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 15px;
}

.project-selection p {
  padding-left: 15px;
}

.todo-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-bot {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}
