html,
body,
#root,
#main {
  min-height: 100vh;
  height: max-content;
  margin: 0;
  display: flex;
  flex-direction: column;
}

div {
  border: 1px solid black !important;
}

#main {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.project-body {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: 25px;
}

.todo-body {
  margin: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.project-card {
  height: 250px;
}
