html,
body,
#root,
#main {
  min-height: 100vh;
  height: max-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
}

p,
h5 {
  margin: 0;
}

div {
  border: 1px solid black !important;
}

#main {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.project-container {
  display: grid;
  grid-template-rows: 90px 1fr;
}

.project-top {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.project-details {
  display: flex;
  margin-left: 50px;
  padding: 15px;
  gap: 10px;
}

.project-details h4 {
  margin: 0;
}

.project-details p {
  display: flex;
  align-items: center;
}

.project-detail-divider {
  font-size: 30px;
}

.project-body {
  margin: 25px;
  gap: 30px;
  height: auto;
  display: flex;
}

.project-detail-options {
  display: flex;
  align-items: center;
  font-size: x-large;
}

.project-sidebar {
  display: grid;
  grid-template-rows: 90px 200px;
}

.project-user {
  display: grid;
  padding-top: 15px;
  grid-template-columns: 80px 1fr;
}

.user-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-size: 45px;
}

.user-greet {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.task-category {
  height: fit-content;
  border-radius: 25px;
  min-width: 350px;
  display: grid;
  grid-template-rows: 50px 1fr 70px;
}

.category-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-cards {
  display: flex;
  flex-direction: column;
}

.todo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
}

.category-add {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.category-add input {
  padding: 5px;
  width: 300px;
  border-radius: 8px;
}

.todo-container {
  display: grid;
  height: 80px;
  border-radius: 15px;
  grid-template-columns: 50px 1fr;
}

.todo-complete {
  text-decoration: line-through;
}

.todo-checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.todo-top {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
}

.todo-checkmark div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.project-view {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 15px;
  gap: 20px;
}

.views {
  padding: 5px 0 5px 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}

.views-today .views-svg {
  font-size: 25px;
}

.views-week .views-svg {
  margin-left: 3px;
  font-size: 20px;
}

.views-all .views-svg {
  margin-left: 3px;
  font-size: 20px;
}

.project-list-container {
  padding-left: 15px;
}

.project-add {
  font-size: x-large;
}

.project-list-options {
  padding: 5px 15px 5px 15px;
  display: flex;
  font-size: large;
  align-items: center;
  justify-content: space-between;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-selection {
  display: flex;
  align-items: center;
  padding: 5px 15px 5px 15px;
}

.project-selection p {
  padding-left: 15px;
}

.todo-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-bot {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.modal-add {
  height: 250px;
}

.modal-edit {
  height: 250px;
}

.modal-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
  overflow-y: scroll;
}

.modal-due {
  display: flex;
  justify-content: flex-end;
}

.modal-add-top {
  display: flex;
  justify-content: space-between;
}

.modal-edit-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-archive {
  font-size: large;
}

.modal-exit {
  font-size: larger;
}

.modal-top h4 {
  padding-top: 5px;
  margin: 0;
}

.modal-options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.modal-options p {
  font-size: small;
}

.modal-container input {
  width: 250px;
}

.modal-completed {
  display: flex;
  gap: 3px;
  align-items: center;
}

.modal-notes {
  padding-bottom: 25px;
}

.notes-top {
  display: flex;
  justify-content: space-between;
}

.modal-notes textarea {
  width: 100%;
  height: auto;
  min-height: fit-content;
  outline: none;
  overflow: hidden; /* Hide the scrollbar */
  resize: none;
  border: none;
  margin-top: 5px;
  font-size: 14px;
}
